<% include partials/header %>


<div class="row">
	<div class="col-6">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="images/temp.jpg" style="width: 100%; height: 100%;" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Temperature</h5>
				<p class="card-text temps"></p>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="images/humid.jpg" style="width: 100%; height: 100%;" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Humidity</h5>
				<p class="card-text humds"></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="images/sun.jpg" style="width: 100%; height: 100%;" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Sunlight</h5>
				<p class="card-text sun"></p>
			</div>
		</div>
	</div> 
	<div class="col-6">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="images/heat index.png" style="width: 100%; height: 300px;" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Heat index</h5>
				<p class="card-text lgt"></p>
			</div>
		</div>
	</div>
</div>

	
<% include partials/footer %>